# Adding information to BdHNe table

One of these days I published the online version of ICRANet Binary-driven Hyper-Novae table of Gamma-Ray Bursts (GRB) at the (BSDC/VO)[http://vo.bsdc.icranet.org] website; the table: http://vo.bsdc.icranet.org/bdhne/q/web/form.
The (current) first version of the table contains exactly what is being published in the article (Ruffini et al, in preparation), which is:

* GRB (id): the standard name for GRBs (*YYMMDD*[A-Z]);
* Designation: as proposed by the authors of the article;
* z: redshift;
* E_iso: the energy computedby the authors after their model;
* Instrument: observatory from where data was used;
* GCN: the GCN corresponding to the event.

What I'm going to do now is to add position (Right Ascension and Declination) and trigger time of those events.
To do so, I should retrieve such information from online services/tables and join them with the current table.

Swift GRBs data will be used to get such information (position and trigger time). 
(*"--Why Swift? --Because I had to choose one; next time will be Fermi."*)
After a search for which website could give me better the information, the [Mission's American website][NASAGRB].
Through their service I can easily automate the query, retrieve and parsing process, plus they provide all the relevant information I am looking for (almost) all GRBs.
For the records, below is the list of websites I looked into; The list was kindly provided by my colleaghe Milos Kovacevic:

* http://www.swift.ac.uk/xrt_positions/
* https://heasarc.gsfc.nasa.gov/W3Browse/fermi/fermigbrst.html
* https://heasarc.gsfc.nasa.gov/W3Browse/all/batsegrb.html
* http://www.astro.caltech.edu/grbox/grbox.php
* (**Chosen**) https://swift.gsfc.nasa.gov/archive/grb_table/

Data and software we already have (properly working/formatted):

* The current BdHNe table is here copied as filename `ibdhne.csv`;
* The Perl script to retrieve the table from [Swift GRB service][NASAGRB], called `SwiftGRBsNASA.pl`;
 * We will execute the script to generate an up-to-date table of GRBs named `SwiftGRBsNASA_table.csv`.

[NASAGRB]: https://swift.gsfc.nasa.gov/archive/grb_table/

In [1]:
import pandas
pandas.set_option('display.max_columns',None)

Output will go in 'tab' dataframe. The output table will contain then the current columns of `ibdhne` plus
position -- `ra`, `dec`, `error radius` -- and `trigger time`.

In [2]:
# to-be-filled output structure
tab = pandas.DataFrame()

## The IBdHNe table

In [3]:
ibd = pandas.read_csv('data.csv',sep=';')
print ibd

         GRB     designation      z   E_iso instrument    GCN
0    050315A  IBdHNe 050315A  1.950    8.32      Swift   3099
1    050318A  IBdHNe 050318A  1.440    3.70      Swift   3134
2    050319A  IBdHNe 050319A  3.240   20.20      Swift   3119
3    050401A  IBdHNe 050401A  2.900   92.00         KW   3179
4    050408A  IBdHNe 050408A  1.240   10.80       HETE   3188
5    050505A  IBdHNe 050505A  4.270   44.60      Swift   3364
6    050525A  IBdHNe 050525A  0.606    2.31         KW   3474
7    050730A  IBdHNe 050730A  3.970   42.80      Swift   3715
8    050802A  IBdHNe 050802A  1.710    7.46      Swift   3737
9    050814A  IBdHNe 050814A  5.300   26.80      Swift   3803
10   050820A  IBdHNe 050820A  2.610   39.00         KW   3852
11   050922C  IBdHNe 050922C  2.200   19.80         KW   4030
12   051109A  IBdHNe 051109A  2.350   18.30         KW   4238
13   060108A  IBdHNe 060108A  2.030    1.50      Swift   4445
14   060115A  IBdHNe 060115A  3.530   19.00      Swift   4518
15   060124A  IBdHNe 060124A  2.296   26.00         KW   4599
16   060202A  IBdHNe 060202A  0.783    1.90      Swift   4635
17   060206A  IBdHNe 060206A  4.050    3.90      Swift   4697
18   060210A  IBdHNe 060210A  3.910  120.00      Swift   4734
19   060418A  IBdHNe 060418A  1.490   12.00         KW   4989
20   060502A  IBdHNe 060502A  1.510   11.00      Swift   5053
21   060510B  IBdHNe 060510B  4.900   66.00      Swift   5107
22   060512A  IBdHNe 060512A  2.100    2.38      Swift   5124
23   060526A  IBdHNe 060526A  3.210    5.40      Swift   5174
24   060605A  IBdHNe 060605A  3.800   10.10      Swift   5231
25   060607A  IBdHNe 060607A  3.082   34.00      Swift   5242
26   060707A  IBdHNe 060707A  3.430    5.30      Swift   5289
27   060708A  IBdHNe 060708A  1.920    2.20      Swift   5295
28   060714A  IBdHNe 060714A  2.710   19.00      Swift   5334
29   060729A  IBdHNe 060729A  0.540    1.60      Swift   5370
..       ...             ...    ...     ...        ...    ...
143  140703A  IBdHNe 140703A  3.140    1.72      Fermi  16512
144  140907A  IBdHNe 140907A  1.210    2.29      Fermi  16798
145  141026A  IBdHNe 141026A  3.350    7.17      Swift  16960
146  141109A  IBdHNe 141109A  2.993    5.05         KW  17055
147  141121A  IBdHNe 141121A  1.470   14.60         KW  17108
148  141221A  IBdHNe 141221A  1.452    1.94      Fermi  17216
149  150206A  IBdHNe 150206A  2.087  151.00         KW  17427
150  150314A  IBdHNe 150314A  1.758   98.10      Fermi  17579
151  150403A  IBdHNe 150403A  2.060   91.00      Fermi  17674
152  150514A  IBdHNe 150514A  0.807    1.14      Fermi  17819
153  150821A  IBdHNe 150821A  0.755   15.10      Fermi  18190
154  150910A  IBdHNe 150910A  1.360   22.30      Swift  18268
155  151021A  IBdHNe 151021A  2.330  211.00         KW  18433
156  151027A  IBdHNe 151027A  0.810    3.86      Fermi  18492
157  151027B  IBdHNe 151027B  4.063   19.10      Swift  18514
158  151111A  IBdHNe 151111A  3.500    5.13      Fermi  18582
159  151112A  IBdHNe 151112A  4.100   12.40      Swift  18593
160  151215A  IBdHNe 151215A  2.590    1.97      Swift  18699
161  160121A  IBdHNe 160121A  1.960    2.62      Swift  18919
162  160131A  IBdHNe 160131A  0.972   60.40         KW  18974
163  160203A  IBdHNe 160203A  3.520   12.40      Swift  18998
164  160227A  IBdHNe 160227A  2.380    5.69      Swift  19106
165  160509A  IBdHNe 160509A  1.170   82.30      Fermi  19411
166  160623A  IBdHNe 160623A  0.367   23.30         KW  19554
167  160625B  IBdHNe 160625B  1.406  443.00      Fermi  19587
168  160804A  IBdHNe 160804A  0.736    2.53      Fermi  19769
169  161017A  IBdHNe 161017A  2.013    7.79      Fermi  20068
170  161023A  IBdHNe 161023A  2.708   79.80         KW  20111
171  161108A  IBdHNe 161108A  1.159    1.71      Swift  20151
172  161117A  IBdHNe 161117A  1.549   24.80      Fermi  20192

[173 rows x 6 columns]

## Swift GRBs table

In [4]:
grbstable = 'SwiftGRBsNASA_table.csv'
import os
if not os.path.exists(grbstable):
    with open(grbstable,'w') as fpout:
        import subprocess
        import shlex
        ret = subprocess.check_call( shlex.split('perl SwiftGRBsNASA.pl'), stdout=fpout, stderr=subprocess.STDOUT)

In [5]:
swf = pandas.read_csv(grbstable, sep=';')
print swf.head(10)

       GRB    Time|[UT]   Trigger|Number BAT RA|(J2000) BAT Dec|(J2000)  \
0  170325A  07:56:57.95  Ground Analysis        127.483          20.526
1  170318B     15:27:52           743086        284.229           6.335
2  170318A     12:11:56           743065        305.662          28.408
3  170317A     09:45:59           742866         93.087          50.500
4  170311A     08:08:42           741965        280.539         -30.041
5  170307A     20:24:21           741528         13.510           9.538
6  170306A     07:06:12           741220        263.087         -44.765
7  170208B     22:33:38           737463        127.145          -9.027
8  170208A     18:11:16           737438        166.544         -46.786
9  170206B     21:57:25           737125        271.784          11.175

  BAT 90%|Error Radius|[arcmin] BAT T90|[sec]  \
0                           2.0           0.3
1                           3.7         160.0
2                           1.2         133.7
3                           1.0         11.94
4                           2.0          6.32
5                           2.5         56.92
6                           2.4          17.8
7                           1.0        128.07
8                           1.4          7.45
9                           2.2         13.36

  BAT Fluence|(15-150 keV)|[10-7 erg/cm2] XRT RA|(J2000) XRT Dec|(J2000)  \
0                                    0.88            n/a             n/a
1                                     5.5    18:57:13.46      06:17:57.0
2                                      37    20:22:40.12      28:24:21.7
3                                      13    06:12:14.87      50:29:34.9
4                                     2.5    18:42:21.46     -30:02:45.5
5                                      13            n/a             n/a
6                                     8.3    17:32:16.56     -44:44:53.5
7                                      61    08:28:34.55     -09:01:47.7
8                                      15    11:06:15.52     -46:46:05.6
9                                     3.2    18:07:04.95      11:11:37.8

  XRT 90%|Error Radius|[arcsec] XRT Time to First|Observation|[sec]  \
0                           n/a                                 n/a
1                           1.8                               73.72
2                           1.7                              107.98
3                           1.4                               83.30
4                           1.5                              105.10
5                           n/a                                 n/a
6                           3.6                              133.50
7                           1.6                               61.77
8                           1.4                              120.19
9                           1.6                                  88

  XRT Early Flux|(0.3-10 keV)|[10-11 erg/cm2/s] UVOT RA|(J2000)  \
0                                           n/a             n/a
1                                          53.9             n/a
2                                          67.8             n/a
3                                           n/a     06:12:14.82
4                                           n/a             n/a
5                                           n/a             n/a
6                                           n/a             n/a
7                                           716             n/a
8                                           n/a             n/a
9                                           n/a             n/a

  UVOT Dec|(J2000) UVOT 90%|Error Radius|[arcsec]  \
0              n/a                            n/a
1              n/a                            n/a
2              n/a                            n/a
3       50:29:35.2                           0.43
4              n/a                            n/a
5              n/a                            n/a
6              n/a                            n/a
7              n/a                            n/a
8              n/a                            n/a
9              n/a                            n/a

  UVOT Time to|First Observation|[sec] UVOT Magnitude  \
0                                  n/a            n/a
1                                   84         V>19.4
2                                  117         V>17.0
3                                   87        V=18.36
4                                  110         V>20.3
5                                  n/a            n/a
6                                  140         V>18.1
7                                  127         V>19.6
8                                  125         V>19.3
9                                  106         V>18.2

                        Other Observatory Detections Redshift  \
0                                        Fermi (GBM)      NaN
1                                        Fermi (GBM)      NaN
2                                                NaN      NaN
3  SANTEL-650 (0.65m), Xinglong (0.8m), GMG (2.4m...      NaN
4                                                NaN      NaN
5                                        Fermi (GBM)      NaN
6                                         MPG (2.2m)      NaN
7                Konus-Wind, Fermi (GBM), WHT (4.2m)      NaN
8           Fermi (GBM), Konus-Wind, AstroSat (CZTI)      NaN
9                                                NaN      NaN

                                         Host Galaxy  \
0  BAT: the spacecraft was slewing at that time, ...
1                                                NaN
2                                                NaN
3                                                NaN
4                                                NaN
5                                                NaN
6                                                NaN
7                                 MPG: possible host
8                                                NaN
9                                                NaN

                                            Comments  \
0                                                NaN
1                                 UVOT: no detection
2                                 UVOT: no detection
3                                                NaN
4                                                NaN
5  Due to a Sun observing constraint, Swift canno...
6                                 UVOT: no detection
7                                 UVOT: no detection
8                                                NaN
9                                 UVOT: no detection

                                          References
0                                    BAT: GCN 20938|
1  BAT: GCN 20908| GCN 20923|XRT: GCN 20908| GCN ...
2  BAT: GCN 20904| GCN 20912|XRT: GCN 20904| GCN ...
3  BAT: GCN 20885| GCN 20896|XRT: GCN 20885| GCN ...
4  BAT: GCN 20846| GCN 20855|XRT: GCN 20846| GCN ...
5                         BAT: GCN 20832| GCN 20838|
6  BAT: GCN 20819| GCN 20829|XRT: GCN 20819| GCN ...
7  BAT: GCN 20632| GCN 20654|XRT: GCN 20632| GCN ...
8  BAT: GCN 20631| GCN 20653|XRT: GCN 20631| GCN ...
9  BAT: GCN 20618| GCN 20622|XRT: GCN 20618| GCN ...

Regarding our goal -- to recover position and trigger time for each GRB -- we promptly see the `Time|[UT]` column, *RA*, *Dec* and the *error radius* given by `BAT`, `XRT` and `UVOT` instruments.

The *Time* column alone is incomplete since it does not inform the day the event happened; but this information is easily extracted from the GRB name itself.

Positional information comes in three flavors (*BAT*, *XRT*, *UVOT*), where *error radius* is the relevant information to decide which one to use; *BAT* has the worse precision (~`arcmin`) but has measurements for every GRB, while *XRT* and *UVOT* have much better measurements (~`arcsec`) but are followed less events.

By all means, let us work a little bit over the data in table itself.
For instance, let us handle the *Not Availables* (`n/a`) and then look some stats.

### GRB table pre-processing: fixing datatypes and finding nulls

In [6]:
# First, let's have a glance on columns values; let's try to figure out which one has "nulls".
#
# One way of doing this is by looking the frequency of values -- if a given value is two frequent, probably 
# that is the value is being used as 'NA'(i.e, Null) for that column (this comes with the assumption that such 
# table has a somewhat broad distribution of values);
#
# Before going further, what are columns datatypes?
print swf.dtypes

GRB                                              object
Time|[UT]                                        object
Trigger|Number                                   object
BAT RA|(J2000)                                   object
BAT Dec|(J2000)                                  object
BAT 90%|Error Radius|[arcmin]                    object
BAT T90|[sec]                                    object
BAT Fluence|(15-150 keV)|[10-7 erg/cm2]          object
XRT RA|(J2000)                                   object
XRT Dec|(J2000)                                  object
XRT 90%|Error Radius|[arcsec]                    object
XRT Time to First|Observation|[sec]              object
XRT Early Flux|(0.3-10 keV)|[10-11 erg/cm2/s]    object
UVOT RA|(J2000)                                  object
UVOT Dec|(J2000)                                 object
UVOT 90%|Error Radius|[arcsec]                   object
UVOT Time to|First Observation|[sec]             object
UVOT Magnitude                                   object
Other Observatory Detections                     object
Redshift                                         object
Host Galaxy                                      object
Comments                                         object
References                                       object
dtype: object

In [7]:
# So, what are the frequency of values we find at each column?
#
# I am assuming that (1) few (correct) values are going to show up more than once, simply because we are dealing
# with real number and free-form comments; in principle, there is no restriction on the values.
# Following that, I assume that Null values will be among the most frequent values if not the only ones in the
# columns they occur.
freqs = pandas.DataFrame( {col:swf[col].value_counts().head().index.values for col in swf.columns} )
print freqs

  BAT 90%|Error Radius|[arcmin] BAT Dec|(J2000)  \
0                           1.0         -26.667
1                           1.1         -44.177
2                           1.2          13.039
3                           1.8           9.139
4                           1.7         -26.146

  BAT Fluence|(15-150 keV)|[10-7 erg/cm2] BAT RA|(J2000) BAT T90|[sec]  \
0                                     n/a        241.273           n/a
1                                      14        144.521            48
2                                      13        282.338            64
3                                      12        120.198          48.0
4                                      11        270.992          11.0

                                            Comments      GRB  \
0                                 UVOT: no detection  150821A
1               XRT: no detection|UVOT: no detection   071129
2  No AT slew (Earth limb constraint)|UVOT: no de...  110808A
3                        No AT slew (Sun constraint)  121102A
4  Due to an observing constraint, Swift did not ...  150428B

                                         Host Galaxy  \
0                                 NOT: possible host
1                                   Ks=19.5 (Subaru)
2  NOT, Magellan, Gemini-South, MPI/ESO (2.2m), T...
3              UVW2 = 23.4 (Swift-UVOT: likely host)
4                   Possible: IC 328 (spiral & blue)

  Other Observatory Detections                     Redshift  \
0                  Fermi (GBM)      1.968 (VLT: absorption)
1                   Konus-Wind  1.44 (Magellan: absorption)
2           Konus-Wind, Suzaku     0.089 (Gemini: emission)
3      Fermi (GBM), Konus-Wind     0.3984 (VLT: absorption)
4                       Suzaku      1.505 (VLT: absorption)

                                          References Time|[UT]  \
0  BAT: GCN 16878| GCN 16892|XRT: GCN 16878| GCN ...       n/a
1  BAT: GCN 12288| GCN 12292|XRT: GCN 12288| GCN ...  18:28:02
2  BAT: GCN 19833| GCN 19844|XRT: GCN 19833| GCN ...  03:03:32
3  BAT: GCN 14181| GCN 14186|XRT: GCN 14183| GCN ...  22:07:25
4  BAT: GCN 14223| GCN 14229| GCN 14240| GCN 1424...  03:06:08

    Trigger|Number UVOT 90%|Error Radius|[arcsec] UVOT Dec|(J2000)  \
0            BATSS                            n/a              n/a
1  Ground Analysis                            0.5       36:18:08.8
2           146129                            0.6       15:33:02.3
3           305011                           0.50      -44:09:29.6
4           173904                           0.43      -23:30:04.1

  UVOT Magnitude UVOT RA|(J2000) UVOT Time to|First Observation|[sec]  \
0            n/a             n/a                                  n/a
1         V>20.1     20:37:01.80                                   82
2         V>20.3     23:32:48.53                                   78
3         V>20.0     15:40:02.29                                   75
4         V>19.9    19:42:40.049                                   84

  XRT 90%|Error Radius|[arcsec] XRT Dec|(J2000)  \
0                           1.4             n/a
1                           n/a     -68:09:40.2
2                           1.5      16:53:26.5
3                           1.6     -51:10:59.2
4                           1.7     -19:09:52.2

  XRT Early Flux|(0.3-10 keV)|[10-11 erg/cm2/s] XRT RA|(J2000)  \
0                                           n/a            n/a
1                                            10    11:45:33.04
2                                         0.999    12:41:54.72
3                                           126    17:36:44.53
4                                           130    01:37:07.66

  XRT Time to First|Observation|[sec]
0                                 n/a
1                                  78
2                               61.77
3                               91.40
4                              130.50

We see then that some columns do present Null values and they are all '**n/a**'.
We should be able to mask them very easily.

In [8]:
# Mask 'n/a' values
#
for col in swf.columns:
    to_replace = swf[col] == 'n/a'
    swf.loc[to_replace,col] = None
freqs = pandas.DataFrame( {col:swf[col].value_counts().head().index.values for col in swf.columns} )
print freqs

  BAT 90%|Error Radius|[arcmin] BAT Dec|(J2000)  \
0                           1.0         -26.667
1                           1.1         -44.177
2                           1.2          13.039
3                           1.8           9.139
4                           1.7         -26.146

  BAT Fluence|(15-150 keV)|[10-7 erg/cm2] BAT RA|(J2000) BAT T90|[sec]  \
0                                      14        241.273            48
1                                      13        355.412            64
2                                      12        270.992          48.0
3                                      11         92.387            15
4                                      15         13.078           0.3

                                            Comments      GRB  \
0                                 UVOT: no detection  150821A
1               XRT: no detection|UVOT: no detection   071129
2  No AT slew (Earth limb constraint)|UVOT: no de...  110808A
3                        No AT slew (Sun constraint)  121102A
4  Due to an observing constraint, Swift did not ...  150428B

                                         Host Galaxy  \
0                                 NOT: possible host
1                                   Ks=19.5 (Subaru)
2  NOT, Magellan, Gemini-South, MPI/ESO (2.2m), T...
3              UVW2 = 23.4 (Swift-UVOT: likely host)
4                   Possible: IC 328 (spiral & blue)

  Other Observatory Detections                     Redshift  \
0                  Fermi (GBM)      1.968 (VLT: absorption)
1                   Konus-Wind  1.44 (Magellan: absorption)
2           Konus-Wind, Suzaku     0.089 (Gemini: emission)
3      Fermi (GBM), Konus-Wind     0.3984 (VLT: absorption)
4                       Suzaku      1.505 (VLT: absorption)

                                          References Time|[UT]  \
0  BAT: GCN 16878| GCN 16892|XRT: GCN 16878| GCN ...  07:48:39
1  BAT: GCN 12288| GCN 12292|XRT: GCN 12288| GCN ...  03:03:32
2  BAT: GCN 19833| GCN 19844|XRT: GCN 19833| GCN ...  22:07:25
3  BAT: GCN 14181| GCN 14186|XRT: GCN 14183| GCN ...  03:06:08
4  BAT: GCN 14223| GCN 14229| GCN 14240| GCN 1424...  13:57:11

    Trigger|Number UVOT 90%|Error Radius|[arcsec] UVOT Dec|(J2000)  \
0            BATSS                            0.5       36:18:08.8
1  Ground Analysis                            0.6      -63:10:55.6
2           146129                           0.50       00:17:04.9
3           305011                           0.43      -44:09:29.6
4           173904                           0.44      -23:30:04.1

  UVOT Magnitude UVOT RA|(J2000) UVOT Time to|First Observation|[sec]  \
0         V>20.1     20:37:01.80                                   82
1         V>20.3      23:41:38.1                                   84
2         V>20.0     20:29:16.30                                   75
3         V>19.9     15:40:02.29                                   78
4         V>19.6    19:42:40.049                                  110

  XRT 90%|Error Radius|[arcsec] XRT Dec|(J2000)  \
0                           1.4     -68:09:40.2
1                           1.5      04:07:30.2
2                           1.6     -51:10:59.2
3                           1.7     -19:09:52.2
4                           1.8     -64:45:38.9

  XRT Early Flux|(0.3-10 keV)|[10-11 erg/cm2/s] XRT RA|(J2000)  \
0                                            10    11:45:33.04
1                                           131    14:41:23.52
2                                           126    01:37:07.66
3                                         0.999    22:26:30.81
4                                           130    23:03:24.52

  XRT Time to First|Observation|[sec]
0                                  78
1                               40400
2                               93.93
3                               91.40
4                              130.50

Nulls are properly flagged/masked now. This is important because we can now handle the data with confidence.
For instance, let's see which columns have nils in it.

In [9]:
from termcolor import colored
print "Has null?"
for col in swf.columns:
    hasnil = any(swf[col].isnull())
    col = colored(col,on_color='on_red') if hasnil else colored(col,'blue')
    print '  {}: {}'.format(col,hasnil)

Has null?
  GRB: False
  Time|[UT]: True
  Trigger|Number: False
  BAT RA|(J2000): True
  BAT Dec|(J2000): True
  BAT 90%|Error Radius|[arcmin]: True
  BAT T90|[sec]: True
  BAT Fluence|(15-150 keV)|[10-7 erg/cm2]: True
  XRT RA|(J2000): True
  XRT Dec|(J2000): True
  XRT 90%|Error Radius|[arcsec]: True
  XRT Time to First|Observation|[sec]: True
  XRT Early Flux|(0.3-10 keV)|[10-11 erg/cm2/s]: True
  UVOT RA|(J2000): True
  UVOT Dec|(J2000): True
  UVOT 90%|Error Radius|[arcsec]: True
  UVOT Time to|First Observation|[sec]: True
  UVOT Magnitude: True
  Other Observatory Detections: True
  Redshift: True
  Host Galaxy: True
  Comments: True
  References: False

In [10]:
# Now let's fix/transform columns to formats we like better.
#
# For instance, the trigger time; we have to merge the information 
# (Year-Month-Day) from column 'GRB' with UT time from 'Time'.
#
import re
rec = re.compile('(\d+)?',re.IGNORECASE)
dt = pandas.DataFrame()
dt['day'] = swf.GRB.map(lambda s:'20{0}-{1}-{2}'.format(*re.findall('.{1,2}',rec.match(s).group(1))))

# We just saw that "Time" has null values. I understand we can
# fix this issue with a "01:01" time hour for what matters;
#
dt['time'] = swf['Time|[UT]'].fillna('01:01:01')
print dt.head(10)

          day         time
0  2017-03-25  07:56:57.95
1  2017-03-18     15:27:52
2  2017-03-18     12:11:56
3  2017-03-17     09:45:59
4  2017-03-11     08:08:42
5  2017-03-07     20:24:21
6  2017-03-06     07:06:12
7  2017-02-08     22:33:38
8  2017-02-08     18:11:16
9  2017-02-06     21:57:25

In [11]:
dt['trigger time(UT)'] = pandas.to_datetime( dt.apply(lambda x:' '.join([x.day,x.time]), axis=1), yearfirst=1, errors='raise')
# option 'coerce' enables the processing to complete even if some value was not able to be converted, in such cases
# 'NaT' ("null") is placed whenever convertion fails.
#
# That said, let's check whether the was any problem during conversion by verifying for Nulls
any(dt['trigger time(UT)'].isnull())

False

In [12]:
# As you may notice, dataframe 'dt' was created to ease the handling of datetime conversion.
# Column 'tt' has the timestamp right.
print dt.head()

          day         time        trigger time(UT)
0  2017-03-25  07:56:57.95 2017-03-25 07:56:57.950
1  2017-03-18     15:27:52 2017-03-18 15:27:52.000
2  2017-03-18     12:11:56 2017-03-18 12:11:56.000
3  2017-03-17     09:45:59 2017-03-17 09:45:59.000
4  2017-03-11     08:08:42 2017-03-11 08:08:42.000

In [13]:
# Let us now convert the position columns to degree units,
# they are currently in sexagesimal units.
dp = swf.filter(regex='(RA|Dec|Radius)')
dp_bat = dp.filter(regex='BAT')
dp_xrt = dp.filter(regex='XRT')
dp_uvot = dp.filter(regex='UVOT')

In [14]:
cols = dp_bat.columns
dp_bat[cols] = dp_bat[cols].apply(pandas.to_numeric, errors='ignore')
print dp_bat.head(10)
print dp_bat.describe()

   BAT RA|(J2000)  BAT Dec|(J2000) BAT 90%|Error Radius|[arcmin]
0         127.483           20.526                           2.0
1         284.229            6.335                           3.7
2         305.662           28.408                           1.2
3          93.087           50.500                           1.0
4         280.539          -30.041                           2.0
5          13.510            9.538                           2.5
6         263.087          -44.765                           2.4
7         127.145           -9.027                           1.0
8         166.544          -46.786                           1.4
9         271.784           11.175                           2.2
       BAT RA|(J2000)  BAT Dec|(J2000)
count     1122.000000      1122.000000
mean       184.190464         2.152165
std        104.756917        41.788303
min          0.127000       -89.029000
25%         93.541750       -29.822000
50%        188.518500         1.820500
75%        275.837000        35.527750
max        358.751000        88.610000

In [15]:
cols = dp_xrt.columns
dp_xrt[cols] = dp_xrt[cols].apply(pandas.to_numeric, errors='ignore')
print dp_xrt.head(10)
print dp_xrt.describe()

  XRT RA|(J2000) XRT Dec|(J2000)  XRT 90%|Error Radius|[arcsec]
0           None            None                            NaN
1    18:57:13.46      06:17:57.0                            1.8
2    20:22:40.12      28:24:21.7                            1.7
3    06:12:14.87      50:29:34.9                            1.4
4    18:42:21.46     -30:02:45.5                            1.5
5           None            None                            NaN
6    17:32:16.56     -44:44:53.5                            3.6
7    08:28:34.55     -09:01:47.7                            1.6
8    11:06:15.52     -46:46:05.6                            1.4
9    18:07:04.95      11:11:37.8                            1.6
       XRT 90%|Error Radius|[arcsec]
count                     897.000000
mean                        1.777077
std                         0.912496
min                         1.400000
25%                         1.400000
50%                         1.500000
75%                         1.700000
max                        15.000000

In [16]:
cols = dp_uvot.columns
dp_uvot[cols] = dp_uvot[cols].apply(pandas.to_numeric, errors='ignore')
print dp_uvot.head(10)
print dp_uvot.describe()

  UVOT RA|(J2000) UVOT Dec|(J2000) UVOT 90%|Error Radius|[arcsec]
0            None             None                           None
1            None             None                           None
2            None             None                           None
3     06:12:14.82       50:29:35.2                           0.43
4            None             None                           None
5            None             None                           None
6            None             None                           None
7            None             None                           None
8            None             None                           None
9            None             None                           None
       UVOT RA|(J2000) UVOT Dec|(J2000) UVOT 90%|Error Radius|[arcsec]
count              293              293                            272
unique             293              293                             47
top        20:37:01.80       36:18:08.8                            0.5
freq                 1                1                             62

In [17]:
# To transform those positions from sexagesimal to degrees we'll
# Astropy.
# We will try to fill most of the events with some (BAT,XRT,UVOT)
# positional information; we should try first the UVOT (better precision),
# if not available, XRT and finally we take (if available) the BAT position.
# If there is no positional information for a given GRB, "None" will
# be at the output.
# Also, to homogenize the final list of positions/error, Error Radius
# should be transformed to 'arcsec'.
#
from astropy.coordinates import SkyCoord
from astropy.units import Unit
ra,dec,rad = [],[],[]
inst = []
dd = pandas.DataFrame()
for i in swf.index:
    posinst = None
    if dp_uvot.iloc[i].values.all():
        posinst = 'UVOT'
        _ra,_dec,_rad = dp_uvot.iloc[i]
        _sc = SkyCoord(_ra,_dec,unit=('hourangle','deg'))
        _ra = _sc.ra.deg
        _dec = _sc.dec.deg
        try:
            _rad = _rad * Unit('arcsec')
            _rad = _rad.value
        except:
            _rad = None
    elif dp_xrt.iloc[i].values.all():
        posinst = 'XRT'
        _ra,_dec,_rad = dp_xrt.iloc[i]
        _sc = SkyCoord(_ra,_dec,unit=('hourangle','deg'))
        _ra = _sc.ra.deg
        _dec = _sc.dec.deg
        try:
            _rad = _rad * Unit('arcsec')
            _rad = _rad.value
        except:
            _rad = None
    elif dp_bat.iloc[i].values.all():
        posinst = 'BAT'
        _ra,_dec,_rad = dp_bat.iloc[i]
        _sc = SkyCoord(_ra,_dec,unit=('deg','deg'))
        _ra = _sc.ra.deg
        _dec = _sc.dec.deg
        try:
            _rad = _rad * Unit('arcmin')
            _rad = _rad.to('arcsec')
        except:
            print 'Error on radius: {}'.format(_rad)
            _rad = None
    else:
        _ra,_dec,_rad = None,None,None
    ra.append(_ra)
    dec.append(_dec)
    rad.append(_rad)
    inst.append(posinst)
dd['ra(deg)'] = ra
dd['dec(deg)'] = dec
dd['error radius(arcsec)'] = rad

WARNING: IllegalSecondWarning: 'second' was found  to be '60.0', which is not in range [0,60). Treating as 0 sec, +1 min [astropy.coordinates.angle_utilities]

Error on radius: TBD

In [18]:
# By now we should check whether tables have the same size to be clear that nothing was missing in the midway
assert len(dd) == len(swf)
assert len(dd) == len(dt)
print len(dd)

1123

In [19]:
dd = dd.join(dt['trigger time(UT)'])
print dd.describe()
print len(dd)

           ra(deg)     dec(deg)  error radius(arcsec)
count  1120.000000  1120.000000            846.000000
mean    184.454896     2.213356             33.223331
std     104.652577    41.757044             59.433465
min       0.127000   -89.008611              1.400000
25%      93.618531   -29.731347              1.500000
50%     188.798062     1.823028              1.700000
75%     275.911313    35.527569             60.000000
max     358.756750    88.610000            420.000000
1123

In [20]:
# Before joining the tables, we must to add our 'primary' column to this positional table -- the column we 
# will use to join the tables.
# The primary column is the 'GRB' name.
#
dd['GRB'] = swf['GRB']
cols = list(dd.columns)
cols = cols[-1:] + cols[:-1]
dd = dd[cols]
print dd

          GRB     ra(deg)   dec(deg)  error radius(arcsec)  \
0     170325A  127.483000  20.526000                 120.0
1     170318B  284.306083   6.299167                   1.8
2     170318A  305.667167  28.406028                   1.7
3     170317A   93.061750  50.493111                   NaN
4     170311A  280.589417 -30.045972                   1.5
5     170307A   13.510000   9.538000                 150.0
6     170306A  263.069000 -44.748194                   3.6
7     170208B  127.143958  -9.029917                   1.6
8     170208A  166.564667 -46.768222                   1.4
9     170206B  271.770625  11.193833                   1.6
10    170205A  262.169542  -0.063139                   NaN
11    170203A  332.861000  25.186000                 132.0
12    170202A  152.514542   5.011611                   NaN
13    170131A  341.447000  64.006000                 180.0
14    170127B   19.977083 -30.358083                   2.0
15    170127A  174.359708 -45.835639                   2.4
16    170126A  263.633208 -64.760361                   NaN
17    170115A  332.138458  13.728361                   3.6
18    170113A   61.732750 -71.943028                   NaN
19    170112A   15.232000 -17.233000                 150.0
20    170111A   20.697375 -32.565056                   1.5
21    170101A  267.089000  11.642000                  66.0
22    161224A  204.815792 -18.029083                   4.1
23    161220A  350.847750 -47.497722                   3.7
24    161219B   91.714292 -26.791528                   NaN
25    161218A  245.250000  -4.113000                  60.0
26    161217A  150.651000  52.358972                   1.5
27    161214B    3.851208   7.352361                   1.5
28    161202A  356.902708  19.646472                   1.4
29    161129A  316.227500  32.134867                   NaN
...       ...         ...        ...                   ...
1093  050416B  133.848000  11.186000                  78.0
1094  050416A  188.477667  21.057444                   1.4
1095   050412  181.099000  -1.193000                  90.0
1096   050410   89.808792  79.603444                   1.7
1097   050406   34.467042 -50.188083                   1.9
1098   050401  247.873000   2.185000                  60.0
1099   050326    6.946208 -71.370583                   2.4
1100   050319  154.199583  43.548472                   1.4
1101   050318   49.712875 -46.396056                   1.4
1102   050315  306.475583 -42.600417                   1.4
1103   050306  282.308750  -9.153111                   6.0
1104   050223  271.385125 -62.472222                   3.7
1105  050219B   81.316917 -57.757806                   1.5
1106  050219A  166.412417 -40.684194                   1.9
1107  050215B  174.448208  40.797056                   2.2
1108  050215A  348.403000  49.328000                 156.0
1109   050202  290.584000 -38.730000                 138.0
1110   050128  219.573583 -34.765194                   1.7
1111   050126  278.115000  42.384000                  84.0
1112   050124  192.877208  13.044194                   1.7
1113   050117  358.470833  65.938889                  15.0
1114   041228  336.642000   5.032000                  60.0
1115   041226   79.689000  73.329000                 180.0
1116   041224   56.192000  -6.663000                 120.0
1117   041223  100.204000 -37.068000                  60.0
1118   041220  291.288000  60.598000                  60.0
1119  041219C  343.926000 -76.744000                  60.0
1120  041219B  167.674000 -33.458000                 420.0
1121  041219A    6.154000  62.847000                 420.0
1122   041217  164.793000 -17.942000                  78.0

            trigger time(UT)
0    2017-03-25 07:56:57.950
1    2017-03-18 15:27:52.000
2    2017-03-18 12:11:56.000
3    2017-03-17 09:45:59.000
4    2017-03-11 08:08:42.000
5    2017-03-07 20:24:21.000
6    2017-03-06 07:06:12.000
7    2017-02-08 22:33:38.000
8    2017-02-08 18:11:16.000
9    2017-02-06 21:57:25.000
10   2017-02-05 12:39:09.000
11   2017-02-03 00:03:41.000
12   2017-02-02 18:28:02.000
13   2017-01-31 23:15:13.000
14   2017-01-27 15:13:28.000
15   2017-01-27 14:21:15.000
16   2017-01-26 11:30:42.000
17   2017-01-15 20:50:08.000
18   2017-01-13 10:04:05.000
19   2017-01-12 02:02:00.000
20   2017-01-11 00:33:28.000
21   2017-01-01 02:26:01.000
22   2016-12-24 22:13:34.640
23   2016-12-20 08:33:30.000
24   2016-12-19 18:48:39.000
25   2016-12-18 03:47:36.000
26   2016-12-17 01:27:34.000
27   2016-12-14 17:20:10.000
28   2016-12-02 23:12:52.000
29   2016-11-29 07:11:39.000
...                      ...
1093 2005-04-16 22:35:54.000
1094 2005-04-16 11:04:44.000
1095 2005-04-12 05:44:03.000
1096 2005-04-10 12:14:34.000
1097 2005-04-06 15:58:48.000
1098 2005-04-01 14:20:15.000
1099 2005-03-26 09:53:56.000
1100 2005-03-19 09:31:18.000
1101 2005-03-18 15:44:37.000
1102 2005-03-15 20:59:43.000
1103 2005-03-06 03:33:12.000
1104 2005-02-23 03:09:06.000
1105 2005-02-19 21:05:51.000
1106 2005-02-19 12:40:01.000
1107 2005-02-15 02:33:43.000
1108 2005-02-15 02:15:29.000
1109 2005-02-02 03:35:15.000
1110 2005-01-28 04:19:55.000
1111 2005-01-26 12:00:54.000
1112 2005-01-24 11:30:03.000
1113 2005-01-17 12:52:36.000
1114 2004-12-28 10:49:14.000
1115 2004-12-26 20:34:19.000
1116 2004-12-24 20:20:58.000
1117 2004-12-23 14:06:18.000
1118 2004-12-20 22:58:27.000
1119 2004-12-19 20:30:34.000
1120 2004-12-19 15:38:48.000
1121 2004-12-19 01:42:18.000
1122 2004-12-17 07:28:25.000

[1123 rows x 5 columns]

In [21]:
# We may now try the JOIN.
# We want to join only the matching keys, the goal is to have `ibdhne` table upgraded with new (position,time)
# properties, but not to have more objects in it.
# To do this JOIN we define the 'primary' keys to be the indexes; pandas use it (the index) as the joining column.
#
ibd.set_index('GRB', inplace=True)
dd.set_index('GRB', inplace=True)

In [22]:
tab = ibd.join(dd, how='inner')
print tab.describe()

               z       E_iso           GCN     ra(deg)   dec(deg)  \
count  98.000000   98.000000     98.000000   98.000000  98.000000
mean    2.277969   35.830306  13689.938776  182.851527   5.936088
std     1.255099   58.487612   4135.107727  103.851478  44.172265
min     0.338000    1.020000   3474.000000    2.053667 -79.128778
25%     1.309750    5.792500  11343.000000  106.138052 -28.010576
50%     2.087500   14.150000  14449.000000  187.342083   9.102153
75%     3.030000   36.350000  16507.750000  273.550250  44.410854
max     5.910000  347.000000  20192.000000  358.264375  87.301167

       error radius(arcsec)
count             38.000000
mean               1.523684
std                0.344403
min                1.400000
25%                1.400000
50%                1.450000
75%                1.500000
max                3.500000

We see that we lost almost half of our objects (98 out of 173). After some inspection on the side we easily get to the answer: the 'GRB' names are slightly different. The reason is due to the name convention of those events: because the GRB name is built from the date it was observed if more then one event is detect at the same day, alpha character (A,B,C,...) are appended to the end of the name; Some tables will append an '**A**' to the name event if only one event happens to be detected on a given day (to be consistent). And *that* is the reason for unmatching keys in our JOIN.

In [23]:
# to solve the unmatching keys we'll use Python's (stdlib) 'difflib'
from difflib import get_close_matches
diff = ibd.reset_index().GRB.to_frame()
diff['match'] = diff.GRB.map(lambda x:get_close_matches(x, dd.index, 1)[0])
# to double-check if we are right, the following column 'equal' must sum '98'
diff['equal'] = diff['GRB'] == diff['match']
print sum(diff.equal)

98

In [24]:
diff

         GRB    match  equal
0    050315A   050315  False
1    050318A   050318  False
2    050319A   050319  False
3    050401A   050401  False
4    050408A   051008  False
5    050505A   050505  False
6    050525A  050525A   True
7    050730A   050730  False
8    050802A   050802  False
9    050814A   050814  False
10   050820A  050820A   True
11   050922C  050922C   True
12   051109A  051109A   True
13   060108A   060108  False
14   060115A   060115  False
15   060124A   060124  False
16   060202A   060202  False
17   060206A   060206  False
18   060210A   060210  False
19   060418A   060418  False
20   060502A  060502A   True
21   060510B  060510B   True
22   060512A   060512  False
23   060526A   060526  False
24   060605A   060605  False
25   060607A  060607A   True
26   060707A   060707  False
27   060708A   060708  False
28   060714A   060714  False
29   060729A   060729  False
..       ...      ...    ...
143  140703A  140703A   True
144  140907A  140907A   True
145  141026A  141026A   True
146  141109A  141109A   True
147  141121A  141121A   True
148  141221A  141221A   True
149  150206A  150206A   True
150  150314A  150314A   True
151  150403A  150403A   True
152  150514A  150513A  False
153  150821A  150821A   True
154  150910A  150910A   True
155  151021A  151021A   True
156  151027A  151027A   True
157  151027B  151027B   True
158  151111A  151111A   True
159  151112A  151112A   True
160  151215A  151215A   True
161  160121A  160121A   True
162  160131A  160131A   True
163  160203A  160203A   True
164  160227A  160227A   True
165  160509A  160709A  False
166  160623A  160630A  False
167  160625B  160625A  False
168  160804A  160804A   True
169  161017A  161017A   True
170  161023A  161202A  False
171  161108A  161108A   True
172  161117A  161117A   True

[173 rows x 3 columns]

This defines our new index/primary key -- the so called 'match' column.
We now redefine it to 'ibd' and go back to the business...

In [25]:
ibd.reset_index(inplace=True)
ibd['primary'] = ibd.GRB.map(lambda x:get_close_matches(x,dd.index,1)[0])
ibd.set_index('primary', inplace=True)

In [26]:
tab = ibd.join(dd, how='inner')
print tab.describe()

                z       E_iso           GCN     ra(deg)    dec(deg)  \
count  173.000000  173.000000    173.000000  173.000000  173.000000
mean     2.244382   40.616358  11356.485549  178.858973    2.553452
std      1.264709   69.514891   4999.373872  102.756476   42.041703
min      0.338000    1.020000   3099.000000    0.913333  -79.128778
25%      1.314000    6.150000   7289.000000   89.275625  -29.613639
50%      2.060000   15.000000  11169.000000  183.501167    2.185000
75%      2.993000   36.500000  15796.000000  258.981208   35.515944
max      8.200000  443.000000  20192.000000  358.264375   87.301167

       error radius(arcsec)
count             78.000000
mean               5.615385
std               19.496054
min                1.400000
25%                1.400000
50%                1.400000
75%                1.500000
max              144.000000

Now we have it! ;)

That's it! Well...amost... Let's now clean/homogenize column names and wirte it down to CSV file.

In [27]:
print tab.columns.values

['GRB' 'designation' 'z' 'E_iso' 'instrument' 'GCN' 'ra(deg)' 'dec(deg)'
 'error radius(arcsec)' 'trigger time(UT)']

In [28]:
tab.rename(columns={'E_iso':'E_iso(1e52 erg)'}, inplace=True)

In [29]:
tab['ra(deg)'] = tab['ra(deg)'].round(3)
tab['dec(deg)'] = tab['dec(deg)'].round(3)
tab['error radius(arcsec)'] = tab['error radius(arcsec)'].round(3)

In [30]:
print tab.describe(include='all')

            GRB     designation           z  E_iso(1e52 erg) instrument  \
count       173             173  173.000000       173.000000        173
unique      173             173         NaN              NaN          5
top     081109A  IBdHNe 120327A         NaN              NaN      Fermi
freq          1               1         NaN              NaN         62
first       NaN             NaN         NaN              NaN        NaN
last        NaN             NaN         NaN              NaN        NaN
mean        NaN             NaN    2.244382        40.616358        NaN
std         NaN             NaN    1.264709        69.514891        NaN
min         NaN             NaN    0.338000         1.020000        NaN
25%         NaN             NaN    1.314000         6.150000        NaN
50%         NaN             NaN    2.060000        15.000000        NaN
75%         NaN             NaN    2.993000        36.500000        NaN
max         NaN             NaN    8.200000       443.000000        NaN

                 GCN     ra(deg)    dec(deg)  error radius(arcsec)  \
count     173.000000  173.000000  173.000000             78.000000
unique           NaN         NaN         NaN                   NaN
top              NaN         NaN         NaN                   NaN
freq             NaN         NaN         NaN                   NaN
first            NaN         NaN         NaN                   NaN
last             NaN         NaN         NaN                   NaN
mean    11356.485549  178.858965    2.553451              5.615385
std      4999.373872  102.756458   42.041692             19.496054
min      3099.000000    0.913000  -79.129000              1.400000
25%      7289.000000   89.276000  -29.614000              1.400000
50%     11169.000000  183.501000    2.185000              1.400000
75%     15796.000000  258.981000   35.516000              1.500000
max     20192.000000  358.264000   87.301000            144.000000

           trigger time(UT)
count                   173
unique                  170
top     2016-11-08 03:32:33
freq                      2
first   2005-03-15 20:59:43
last    2016-12-02 23:12:52
mean                    NaN
std                     NaN
min                     NaN
25%                     NaN
50%                     NaN
75%                     NaN
max                     NaN

In [31]:
# Last step to be taken here is to fill the missing values for 'error radius'.
# The safest way to do it is to fill the Nulls with the maximum possible value,
# doing so we will not give absurd, or erronous information to the future users
# of such data since we are filling those gaps with the worst case available.
mval = tab['error radius(arcsec)'].max()
midx = tab['error radius(arcsec)'].isnull()
tab.loc[midx,'error radius(arcsec)'] = mval
print mval
tab.describe()

144.0

,z,E_iso(1e52 erg),GCN,ra(deg),dec(deg),error radius(arcsec)
count,173.000000,173.000000,173.000000,173.000000,173.000000,173.000000
mean,2.244382,40.616358,11356.485549,178.858965,2.553451,81.606936
std,1.264709,69.514891,4999.373872,102.756458,42.041692,70.278524
min,0.338000,1.020000,3099.000000,0.913000,-79.129000,1.400000
25%,1.314000,6.150000,7289.000000,89.276000,-29.614000,1.500000
50%,2.060000,15.000000,11169.000000,183.501000,2.185000,144.000000
75%,2.993000,36.500000,15796.000000,258.981000,35.516000,144.000000
max,8.200000,443.000000,20192.000000,358.264000,87.301000,144.000000

In [32]:
tab.to_csv('data_wposition.csv',sep=';', index=False)